<!doctype html>
<html lang="en">
<head>
{{> partials/head}}
</head>
<body>
  <div class="container">

    <h1>JHOVE REST validation</h1>
    <div class="row">
      <div class="col">
	    <form>
	      <div class="custom-file">
	        <input type="file" class="custom-file-input" id="file" name="file">
	        <label class="custom-file-label" for="file">Choose a file to upload for JHOVE validation</label>
	      </div>
	
	      <div class="form-group">
	        <label for="digest">Shows the SHA-1 of the selected file</label>
	        <input id="digest" type="text" class="form-control"  placeholder="SHA-1 hash of selected file." readonly >
	      </div>
	      <div class="form-group">
	        <label for=module">Choose a JHOVE module:</label>
	        <select id="module" name="module" class="custom-select"></select>
	      </div>
	      <button type="button" class="btn btn-primary" disabled >Submit</button>
	    </form>
      </div>
    </div><!-- end row -->

    <div class="row">
      <div class="col">
        <div id="results"></div>
      </div>
    </div><!-- end row -->

  </div><!-- end container -->

{{> partials/footer}}
  <!-- JHOVE REST resources, JQuery wrappers for REST calls -->
  <script src="/js/jhove/rest-resources.js"></script>
  <!-- Client glue code to handle page events -->
  <script src="/js/jhove/client-validation.js"></script>
</body>
</html>
